
.stext0{
    position: absolute;
width: 222px;
height: 49px;
left: 287px;
top: 22px;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 49px;
color: #1C1F37;
}
.srect1{
    position: absolute;
left: 330px;
right: 600px;
top: 120px;
bottom: 93px;
width:1050px;
height: 811px;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.stext1{
    position: absolute;
width: 286.55px;
height: 53.25px;
left: 376.79px;
top: 189.66px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.stext2{
    position: absolute;
width: 326.22px;
height: 62.85px;
left: 340.39px;
top: 276.13px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.stext3{
    position: absolute;
width: 167.34px;
height: 45.19px;
left: 474.48px;
top: 388.26px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.stext4{
    position: absolute;
width: 251.69px;
height: 63.69px;
left: 390.36px;
top: 473.5px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.stext5{
    position: absolute;
width: 264.25px;
height: 48.43px;
left: 402.4px;
top: 574.19px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.sinput1{
    position: absolute;
width: 500px;
height: 63.84px;
left: 660px;
top: 180.86px;
border: none;
font-style: normal;
font-size: 26px;

background: #FFFFFF;
border-radius: 10px;

}
.sinput2{
    position: absolute;
width: 500px;
height: 63.84px;
left: 660px;
top: 276.19px;
border:none;
font-style: normal;
font-size: 26px;

background: #FFFFFF;
border-radius: 10px;

}
.sbtn1{
position: absolute;
top: 394px;
left: 660px;
z-index: 1;
}
.sbtn2{
    position: absolute;
    top: 580px;
    left: 660px;
    z-index: 1;
    }
.sbtn3{
    
position: absolute;
width: 280px;
height: 44px;
left: 660px;
top: 483px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
background: #FF4747;
border-radius: 8px;
border: none;
}