.crect1{
    position: absolute;
left: 20vw;
right: 2vw;
top: 11.8vh;
bottom: 4.2vh;
width: 77vw;

background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.crect2{
    position: absolute;
width: 73vw;
height: 62.5vh;
left: 22vw;
top: 26.4vh;
right:4vw;
background: #FFFFFF;
border-radius: 0px 0px 10px 10px;
}
.crect3{
    position: absolute;
width: 73vw;
height: 5.8vh;
left: 22vw;
right:4vh;
top: 20.5vh;
background: #47B5FF;
}
.c1{
    position: absolute;
width: 15.4vw;
height: 4.7vh;
left: 22vw;
top: 2.1vh;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 700;
font-size: 2.22vw;

color: #1C1F37;
}
.c2{
    position: absolute;
width: 13.6vw;
height: 3vh;
left: 23vw;
top: 21.7vh;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 2.5vh;

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
.c3{  
position: absolute;
width: 9.5vw;
height: 5.8vh;
left: 35vw;
top: 20.4vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 2.5vh;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.c4{
    position: absolute;
width: 12.7vw;
height: 5.8vh;
left: 44vw;
top: 20.4vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 2.5vh;

display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.c5{
    position: absolute;
width: 10.65vh;
height: 5.8vh;
left: 56vw;
top: 20.4vh;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 2.5vh;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.c6{
    position: absolute;
width: 147.66px;
height: 5.8vh;
left: 66vw;
top: 20.4vh;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 2.5vh;

display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;

}
.c7{
    position: absolute;
width: 9.6vw;
height: 5.8vh;
left: 76vw;
top: 20.4vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 2.5vh;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.c8{
    position: absolute;
width: 9.6vw;
height: 5.8vw;
left: 85vw;
top: 17.1vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 2.5vh;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.c9{
    position: absolute;
width: 33.3vw;
height: 5.8vh;
left: 43vw;
top: 46.8vh;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 4vh;
line-height: 47px;
display: inline;
align-items: center;
text-align: center;
color: #000000;
}
.cbtn1{
    position: absolute;
width: 10.9vw;
left: 23.4vw;
height: 4.4vh;
z-index: 1;
top: 14.3vh;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 2.5vh;
display: inline;
align-items: center;
text-align: center;
color: #FFFFFF;
border: none;
background: #47B5FF;
border-radius: 10px;
}
.cbtn2{
position: absolute;
width: 11.1vw;
left: 54vw;
height: 5.8vh;
top: 54.6vh;
font-weight: 400;
font-size: 2.5vh;
display: block;
align-items: center;
text-align: center;
color: #FFFFFF;
border: none;
background: #47B5FF;
border-radius: 10px;
}