@media (max-width: 1440px){
    body{
        height: 100vh;
        width: 100vw;
        display: flex;
    }
    div{
        display: flex;
    }
}
.wr1{
    position: absolute;
left: 300px;
right: 30px;
top: 150px;
bottom: 64px;
height:810px;
width:1110px;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wr2{
    position: absolute;
width: 453.05px;
height: 236.39px;
left: 340.85px;
top: 180.38px;
z-index: 1;
background: #FFFFFF;
border-radius: 15px;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wr3{
    position: absolute;
width: 453.41px;
height: 209.64px;
left: 340.46px;
top: 480.42px;
z-index: 1;
background: #FFFFFF;
border-radius: 15px;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wr4{
    position: absolute;
width: 539.55px;
height: 509.93px;
left: 830.37px;
top: 180.57px;
z-index: 1;
background: #FFFFFF;
border-radius: 15px;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext8{
    position: absolute;
width: 222.19px;
height: 49px;
left: 287.01px;
top: 22px;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 49px;
color: #1C1F37;
}
.wtext1{
    position: absolute;
width: 214px;
height: 36px;
left: 448.88px;
top: 230.57px;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext2{
    position: absolute;
width: 180px;
height: 43.27px;
left: 478px;
top: 303.98px;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext3{
    position: absolute;
width: 336.85px;
height: 75.15px;
left: 413.7px;
top: 520.35px;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext4{
    position: absolute;
width: 409.08px;
height: 60.69px;
left: 938.58px;
top: 264.23px;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext5{
    
position: absolute;
width: 140.29px;
height: 50.04px;
left: 907.92px;
top: 353.66px;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext6{
    position: absolute;
width: 212.96px;
height: 51.94px;
left: 1119.16px;
top: 353.61px;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.wtext7{
    position: absolute;
width: 450.09px;
height: 120.42px;
left: 920px;
top: 492.02px;
z-index: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
transform: matrix(1, 0, 0, 1, 0, 0);
}
.winput1{
    position: absolute;
width: 357px;
height: 53px;
left: 380px;
top: 600px;
z-index: 1;
font-style: normal;
font-size: 24px;
background: #FFFFFF;
border-radius: 10px;
text-align: center;
}
.winput2{
    position: absolute;
    width: 120px;
    height: 53px;
    left: 890px;
    top: 400px;
    z-index: 1;
    font-style: normal;
    font-size: 24px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.winput4{
    position: absolute;
    width: 300px;
    height: 53px;
    left: 1050px;
    top: 400px;
    z-index: 1;
    font-style: normal;
    font-size: 24px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.winput3{
    position: absolute;
width: 357px;
height: 53px;
left: 910px;
top: 600px;
z-index: 1;
font-style: normal;
font-size: 24px;
background: #FFFFFF;
border-radius: 10px;
text-align: center;
}
.wbutton1{
    position: absolute;
    width: 450px;
    height: 70px;
    left: 340px;
    top: 800px;
    z-index: 1;
    font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 46px;
    background: linear-gradient(90deg, rgba(66, 0, 255, 0.4428) 0%, rgba(5, 195, 218, 0.427083) 75.52%, rgba(2, 203, 216, 0.4264) 100%);
    border-radius: 10px;
}
.wbutton2{
    position: absolute;
width: 450px;
height: 70px;
left: 869px;
top: 800px;
z-index: 1;
font-family: 'IBM Plex Sans Devanagari';
font-style: bold;
font-weight: 500;
font-size: 30px;
line-height: 46px;
background: linear-gradient(90deg, rgba(66, 0, 255, 0.4428) 0%, rgba(5, 195, 218, 0.427083) 75.52%, rgba(2, 203, 216, 0.4264) 100%);
border-radius: 10px;
}