.re1{
    position: absolute;
left: 0px;
top: 0px;
bottom: 0px;
height:100vh;
width:17.3vw;
background: linear-gradient(180deg, rgba(61, 6, 218, 0.71) 0%, rgba(7, 147, 227, 0.536563) 72.92%, rgba(2, 203, 216, 0.52) 100%);
border-radius: 0px;
}
.re2{
    
position: absolute;
width: 14vw;
height: 12.2vh;
left: 1.6vw;
top: 80.7vh;

background: #1B2B65;
border-radius: 8px;
}
.re3{
    position: absolute;
width: 11.5vw;
height: 4vh;
left:2.8vw;
top: 87.4vh;
background: #017EFA;
border-radius: 6px;
}
.dframe{
    
position: absolute;
width: 9.7vw;
height: 20vh;
left: 3.3vw;
top: 2.4vh;
}
.t1{
    position: absolute;
    width: 7.5vw;
    height: 3.7vh;
    left: 5.5vw;
    top: 17.5vh;
    
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    line-height: 38px;
    
    color: #0A194E;
}
.t2{
    position: absolute;
width: 17.3vw;
height: 32.8vh;
left: 0px;
top: 26.5vh;

background: #0A194E;
}
.p1{
    position: absolute;
width: 3.9vw;
height: 2.4vh;
left: 4.3vw;
top: 28vh;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 2vh;
line-height: 25px;
z-index: 1;
color: #FFFFFF;
}
.i2{
    position: absolute;
    color: #FFFFFF;
    width: 3.9vw;
    height: 2.4vh;
    top: 28vh;
    left: 2vw;
}

.w1{
    position: absolute;
width: 12.7vw;
height: 2.4vh;
left: 4.3vw;
top: 33.5vh;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 2vh;
line-height: 25px;
z-index: 1;
color: #FFFFFF;

}
.i3{
    position: absolute;
    color: #FFFFFF;
    left: 2vw;
top: 33.5vh;
}

.d1{
    position: absolute;
    width: 12.7vw;
    height: 2.4vh;
    left: 4.3vw;
    top: 39vh;
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 25px;
    z-index: 1;
    color: #FFFFFF;
    
}
.i4{
    position: absolute;
    color: #FFFFFF;
    left: 2vw;
    top: 39vh;
}
.a{
    background-color: #FFFFFF;
}

.r1{
    position: absolute;
    width: 12.7vw;
    height: 2.4vh;
    left: 4.3vw;
    top: 44.5vh;
    
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 25px;
    
    color: #FFFFFF;
}

.ie1{
    position: absolute;
    color: #FFFFFF;
    left: 2vw;
    top: 44.5vh;
}

.a1{
    position: absolute;
    width: 12.7vw;
    height: 2.4vh;
    left: 4.3vw;
    top: 50vh;
    
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 25px;
  z-index: 1;
    color: #FFFFFF;
}
.i5{
    position: absolute;
    color: #FFFFFF;
    left: 2vw;
    top: 50vh;
}
.pe1{
    position: absolute;
width: 12.7vw;
height: 2.4vh;
left: 4.3vw;
top: 55vh;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 2vh;
line-height: 25px;
z-index: 1;
color: #FFFFFF;

}
.i6{
    position: absolute;
    color: #FFFFFF;
    left: 2vw;
top: 55vh;
    z-index: 3;
}
.n1{
    position: absolute;
width: 11vw;
height: 1.8vh;
left: 3.6vw;
top: 84vh;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 1.4vh;
line-height: 19px;

color: #FFFFFF;
}
.n2{
    position: absolute;
width: 7.8vw;
height: 1.5vh;
left: 4.7vw;
top: 88.5vh;
z-index: 1;
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}
.n3{
 
position: absolute;
width: 7vw;
height: 2.4vh;
left: 5.8vw;
top: 94vh;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 1.8vh;
line-height: 25px;

color: #FFFFFF;

}
.n4{
    position: absolute;
width: 5vw;
height: 0px;
left: 5.2vw;
top: 97vh;
border: 1px solid #FFFFFF;
transform: matrix(1, 0, 0,01, 0, 0);
}
.n5{position: absolute;
    width: 2.7vw;
    height: 5.4vh;
    left: 7.3vw;
    top: 78.4vh;
    background: #AABBFA;
    border-radius: 50%;
    
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1)
}
.el1{
    position: absolute;
    width: 1.7vw;
    height: 3.4vh;
    left: 7.8vw;
    top: 79.4vh;
    background: #0A194E;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1)
    
}
.i7{
    position: absolute;
    color: #FFFFFF;
    left: 7.8vw;
    top: 79vh;
    z-index: 3;
}