.ltext1{
    
position: absolute;
width: 168px;
height: 49px;
left: 277px;
top: 22px;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 49px;
color: #1C1F37;
}
.ltext2{
    position: absolute;
width: 350px;
height: 56.92px;
left: 367.12px;
top: 203.25px;
z-index: 2;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 46px;
color: #000000;
}
.ltext3{
    position: absolute;
width: 990.54px;
height: 56.59px;
left: 367.47px;
top: 360.56px;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 46px;
z-index: 2;
color: #000000;
}
.ltext4{
    position: absolute;
width: 990.54px;
height: 56.59px;
left: 367.47px;
top: 517.63px;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 46px;
z-index: 2;
color: #000000;

}
.ltext5{
    position: absolute;
width: 936.24px;
height: 56.59px;
left: 367.47px;
top: 674.71px;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 46px;
z-index: 2;
color: #000000;
}
.ltext6{
    position: absolute;
width: 313.82px;
height: 56.92px;
left: 369.33px;
top: 830.58px;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 46px;
z-index: 2;
color: #000000;
}

.lrect1{

    position: absolute;
    width: 1083.61px;
    height: 80px;
    left: 305.43px;
    top: 187.87px;
    
    background: #FFFFFF;
    border-radius: 8px;
}
.lrect2{
    position: absolute;
width: 1083.61px;
height: 80px;
left: 305.43px;
top: 344.95px;

background: #FFFFFF;
border-radius: 8px;
}
.lrect3{
    
position: absolute;
width: 1083.61px;
height: 80px;
left: 305.43px;
top: 502.02px;

background: #FFFFFF;
border-radius: 8px;
}
.lrect4{
    
position: absolute;
width: 1083.61px;
height: 80px;
left: 305.43px;
top: 659.1px;

background: #FFFFFF;
border-radius: 8px;
}
.lrect5{
    position: absolute;
width: 1083.61px;
height: 80px;
left: 305.43px;
top: 816.18px;

background: #FFFFFF;
border-radius: 8px;
}
.lrect6{
    position: absolute;
left: 290px;
right: 40px;
top: 120px;
bottom: 93px;
width: 1120px;
height: 811px;
z-index: -1;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}