@media (max-width: 1000px){
    body{
        height: 800px;
        width: 1000px;
        display: flex;
    }
    div{
        display: flex;
    }
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.ptext1{
    position: absolute;
width: 100.17px;
height: 49px;
left: 275.03px;
top: 22px;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 49px;
color: #1C1F37;
}
.ptext2{
    position: absolute;
width: 240px;
height: 53px;
left: 390px;
top: 330px;
z-index: 1;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: right;
color: #000000;
}
.ptext3{
    position: absolute;
width: 240px;
height: 53px;
left: 390px;
top: 400px;
z-index: 1;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: right;
color: #000000;
}
.ptext4{
    position: absolute;
width: 240px;
height: 53px;
left: 390px;
top: 470px;
z-index: 1;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: right;
color: #000000;
}
.ptext5{
    position: absolute;
width: 240px;
height: 53px;
left: 390px;
top: 540px;
z-index: 1;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: right;

color: #000000;
}
.ptext6{
    position: absolute;
width: 240px;
height: 53px;
left: 390px;
top: 610px;
z-index: 1;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: right;
color: #000000;
}
.ptext7{
    position: absolute;
width: 240px;
height: 53px;
left: 390px;
top: 680px;
z-index: 1;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: right;
color: #000000;
}
.ptext8{
    position: absolute;
width: 240px;
height: 53px;
left: 390px;
top: 750px;
z-index: 1;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: right;
color: #000000;
}
.ptext9{
    
position: absolute;
width: 1020px;
height: 39px;
left: 343px;
top: 860px;
z-index: 1;
font-size: 24px;
}
.ptext10{
    position: absolute;
width: 280px;
height: 59px;
left: 1060px;
top: 330px;
z-index: 1;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 46px;
display: flex;
align-items: flex-end;
color: #000000;
}
.ptext11{
    position: absolute;
    width: 270px;
    height: 90px;
    left: 1140px;
    top: 177px;
    z-index: 1;
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;    
}
.prect1{
    position: absolute;
left: 303px;
right: 25px;
top: 120px;
bottom: 45px;
height: 811px;
width:1112px;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.prect2{
    position: absolute;
width: 600px;
height: 524px;
left: 360px;
top: 302px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.prect3{
    position: absolute;
width: 270px;
height: 152px;
left: 1080px;
top: 150px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.prect4{
    
position: absolute;
width: 360px;
height: 510px;
left: 1020px;
top: 330px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.prect5{
    position: absolute;
width: 300px;
height: 90px;
left: 1050px;
top: 420px;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.prect6{
    position: absolute;
width: 300px;
height: 90px;
left: 1050px;
top: 540px;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.prect7{
    position: absolute;
width: 300px;
height: 90px;
left: 1050px;
top: 663px;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.pb1{
    position: absolute;
left: 750px;
right: 533px;
top: 163px;
bottom: 815px;
width: 157px;
height:46px;
font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 500;
font-size: 24px;
border: none;
line-height: 37px;
background: linear-gradient(90deg, rgba(66, 0, 255, 0.4428) 0%, rgba(5, 195, 218, 0.427083) 75.52%, rgba(2, 203, 216, 0.4264) 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}
.pb2{
    position: absolute;
width: 120px;
height: 43px;
left: 1138px;
top: 775px;font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
border: none;
text-align: center;
background: #47B5FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;

}
.pin1{
    position: absolute;
width: 291px;
height: 53px;
left: 639px;
top: 330px;
z-index: 1;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
font-style: normal;
font-size: 24px;
}
.pin2{
    position: absolute;
width: 291px;
height: 49px;
left: 639px;
top: 400px;
z-index: 1;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
font-style: normal;
font-size: 24px;
}
.pin3{
    position: absolute;
width: 291px;
height: 49px;
left: 639px;
top: 470px;
z-index: 1;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
font-style: normal;
font-size: 24px;
}
.pin4{
    position: absolute;
width: 291px;
height: 49px;
left: 639px;
top: 540px;
z-index: 1;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
font-style: normal;
font-size: 24px;
}
.pin5{
    position: absolute;
width: 291px;
height: 49px;
left: 639px;
top: 610px;
z-index: 1;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
font-style: normal;
font-size: 24px;
}
.pin6{
    position: absolute;
width: 291px;
height: 49px;
left: 639px;
top: 680px;
z-index: 1;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
font-style: normal;
font-size: 24px;
}
.pin7{
    position: absolute;
width: 291px;
height: 49px;
left: 639px;
top: 750px;
z-index: 1;
background: #DDE2EA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
font-style: normal;
font-size: 24px;
}